body {
    background: url("../images/lebron.jpg");
    height: 100%;
    padding-top: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
#timer,
#question {
    text-align: center;
    align-content: center;
}

#timer,
#question,
button {
    margin-top: 25px;
    margin-bottom: 25px;
}

.container { 
    background-image: linear-gradient(to left, #4B644A, #89A894);
    /* display: flex;
    justify-content: center; */
    padding: 5px;
    margin: auto;
    height: 38rem;
}

#answer1,
#answer2,
#answer3,
#answer4,
#question,
#timer {
    display: none;
}

#startBtn {
    display: flex;
    margin: auto;
    width: 200px;
    height: 50px;
    font-size: 20px;
}