body {
    background: url("../images/lebron.jpg");
    height: 100%;
    padding-top: 3rem;
}

h1,
#timer,
#question {
    text-align: center;
    align-content: center;
}

.container { 
    background-image: linear-gradient(to left, #4B644A, #89A894);
    /* display: flex;
    justify-content: center; */
    padding: 5px;
    margin: auto;
    height: 38rem;
}