body {
    background: url("../images/wallpaper.jpg");
    height: 100%;
    padding-top: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
#timer,
#question {
    text-align: center;
    align-content: center;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 450%;
}

#timer,
#question,
button {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Aldrich', sans-serif;
}

.container { 
    /* display: flex;
    justify-content: center; */
    padding: 5px;
    margin: auto;
    height: 38rem;
    position: relative;
    left: 16rem;
}

#answer1,
#answer2,
#answer3,
#answer4,
#question,
#timer {
    display: none;
}

#startBtn {
    margin: auto;
    width: 12rem;
    height: 5rem;
    font-size: 26px;
    margin-top: 13rem;
}

.btn {
    opacity: 0.8;
    font-weight: bold;
    width: 60%;
    margin-left: 14rem;
}

#timer,
#question {
    margin-left: 14rem;
}

/* #btn {
    display: flex;
    justify-items: space-around;
} */